<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694288625915-0j81mf1vqhqfec34tp912uiffc6eplls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694288625915-0j81mf1vqhqfec34tp912uiffc6eplls</string>
	<key>API_KEY</key>
	<string>AIzaSyAZn2IpgpMZXTkwbK1HbB0nYoRt29N51gM</string>
	<key>GCM_SENDER_ID</key>
	<string>694288625915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApplication</string>
	<key>PROJECT_ID</key>
	<string>quizapp-35d28</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-35d28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694288625915:ios:86bd8fe563a7bc201ec05e</string>
</dict>
</plist>